@model Funiture_Project.Models.SanPham
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SanPham> lsSanPham = ViewBag.SanPham;
}
<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
<div class="container pt-[84px]">
    <div class="flex grid lg:grid-cols-2 grid-cols-1 gap-x-[50px]">
        <div>
            <!-- Đường dẫn -->
            <div class="flex gap-x-2 pb-[13px]">
                <span class="pt-[5px]">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-[26px]">
                        <path stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                    </svg>
                </span>
                <p class="lg:text-2xl text-xs">
                    <span class="lg:text-2xl text-xs text-gray-500">Trang chủ / Sản phẩm /</span>
                    Thông tin sản phẩm
                </p>
            </div>
            <!-- Ảnh sản phẩm -->
            <div>
                <img src="@Model.HinhAnh" alt="" />
            </div>
        </div>

        <div class="pt-[45px] gap-y-3">
            <p class="font-bold lg:text-[44px] text-[24px]">Ghế làm việc</p>
            <p class="font-medium text-gray-500 lg:text-[18px] text-[14px] pt-[10px]">
                @*Sự kết hợp của gỗ và len*@
            </p>
            <p class="leading-[180%] pt-[10px]">
                <span class="font-medium text-[#AD7E5C] lg:text-[18px] text-[14px]">Mã sản phẩm</span>
                :
                <span class="font-light lg:text-[18px] text-[14px]">@Model.MaSp</span>
                <br />
                <span class="font-medium text-[#AD7E5C] lg:text-[18px] text-[14px]">Thương hiệu</span>
                :
                <span class="font-light lg:text-[18px] text-[14px]">@Model.ThuongHieu</span>
                <br />
                <span class="font-medium text-[#AD7E5C] lg:text-[18px] text-[14px]">Tình trạng</span>
                :
                @if(Model.TongSl>0)
                {
                    <span class="font-light lg:text-[18px] text-[14px]">Còn trong kho</span>
                }
                else
                {
                    <span class="font-light lg:text-[18px] text-[14px]">Hết hàng</span>
                }
                <br />
                <br />
                <span class="text-gray-500 pt-[10px] lg:text-[18px] text-[14px] w-[590px] h-[96px]">
                    @Html.Raw(Model.ChiTiet)
                </span>
                <span class="text-[#518581] lg:text-[18px] text-[14px] font-medium"></span>
            </p>
            <!-- Giá sản phẩm -->
            <div class="gap-x-3 pt-[19px]">
                <p>
                    <span class="font-bold lg:text-4xl text-2xl">@Model.Gia.ToString("#,##0")đ</span>@*
                    <span class="lg:text-4xl text-2xl text-gray-500">-</span>
                    <span class="font-normal lg:text-4xl text-2xl text-gray-400 italic line-through align-bottom">2.500.000đ</span>*@
                </p>
            </div>
            <!-- Số lượng -->
            <div class="flex gap-x-[50px] pt-[27px]">
                <span>
                    <p class="font-normal lg:text-3xl text-lg text-gray-400">
                        Số lượng
                    </p>
                </span>
                <!-- Button số lượng -->
                <div class="wrapper lg:h-[40px] h-[32px] lg:w-[180px] w-[150px] flex justify-center items-center rounded shadow-[0_5px_5px_rgba(0,0,0,0.2)]">
                    <span class="minus">-</span>
                    <span class="num">1</span>
                    <span class="plus">+</span>
                </div>
            </div>

            <div class="flex grid grid-cols-2 gap-x-[20px] pt-[24px]">
                <div>
                    <button class="bg-[#518581] lg:w-[285px] w-32 lg:h-[58px] h-10 border">
                        <span class="font-bold lg:text-[18px] text-[14px] text-[#F9F9F9]">Mua ngay</span>
                    </button>
                </div>
                <div>
                    <a href="/Product/ThemVaoGioHang">
                        Thêm vào giỏ hàng
                    </a>
                    <button class="ThemVaoGioHang lg:w-[285px] w-32 lg:h-[58px] h-10 border">
                        <span class="font-bold lg:text-[18px] text-[14px]">Thêm vào giỏ hàng</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="product-same mt-10 p-5">
      <h1 class="font-bold text-[24px] lg:text-[44px] text-[#518581]">Sản phẩm tương tự</h1>
      <div id="data-container" class="lg:mt-[45px] grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 md:gap-x-[25px] lg:gap-y-[45px] gap-x-3 gap-y-[15px]">
          @if(lsSanPham!=null)
          {
              foreach(var item in lsSanPham)
              {
                    string url = $"/ProductDetail/{item.MaSp}";
                    <a href="@url" class="hover:-translate-y-2 overflow-hidden rounded-[3px] shadow product-item bg-[#fff]">
                        <div class="h-full flex flex-col overflow-hidden">
                            <div class="aspect-square  rounded-[3px] ">
                                <img class="object-cover h-full" src="@item.HinhAnh"
                             alt="@item.TenSp">
                            </div>
                            <div class="flex-1 flex flex-col px-[12px] md:px-[17px] md:py-[20px] py-[14px]">
                                <p class="flex-1 line-clamp-2 text-gray-700 md:text-[18px] text-[13px] ">
                                    @item.TenSp
                                </p>
                                <div class="flex justify-between items-center mt-3 price ">
                                    <span class="md:text-[24px] text-[16px] current-price font-semibold color-orange">
                                        @item.Gia.ToString("#,##0")<span class="md:text-[20px] text-[14px]">đ</span>
                                    </span>
                                    <span class="md:text-[18px] ml-[4px] text-[13px] old-price line-through text-slate-500">
                                        
                                    </span>
                                </div>
                                <div class="md:text-[18px] text-[14px] mt-2">
                                    Số lượng:
                                    <span class="md:text-[18px] text-[14px] font-medium ">@item.TongSl</span>
                                </div>
                                <!-- <div class="md:text-[18px] text-[14px] mt-1 current-price font-semibold color-orange">

                                                  Hết hàng

                                              </div> -->
                            </div>
                        </div>
                    </a>
              }
          }
      </div>
    </div>
    
    
</div>
<script>
    const plus = document.querySelector(".plus"),
        minus = document.querySelector(".minus"),
        num = document.querySelector(".num");
    let a = 1;
    plus.addEventListener("click", () => {
        a++;
        a = a < 10 ? a : a;
        num.innerText = a;
    });

    minus.addEventListener("click", () => {
        if (a > 1) {
            a--;
            a = a < 10 ? a : a;
            num.innerText = a;
        }
    });
</script>
