@using Funiture_Project.Models;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SanPham> lsSanPham = ViewBag.SanPham;
    List<SanPham> lsSanPhamDeXuat = ViewBag.SanPhamDeXuat;
}

<body>
    <div class="container px-0">
        <div class="mt-[20px] gap-y-[50px]">
            <!-- <h1 class="fw-[600] text-center text-[26px] lg:text-[50px] mb-[20px] "> Giỏ hàng</h1> -->
            <!-- Thanh header giỏ hàng -->
            <div class="mb-[12px] px-[20px] shadow text-[14px] h-[55px] shadow items-center hidden lg:flex justify-center bg-[#fff]">
                <div class="min-w-[58px] flex items-center justify-center">
                    <input id="wanna-buy-all" class="w-[20px] h-[20px]" type="checkbox">
                </div>
                <div class="w-[calc(100%-58px)] lg:w-[calc(50%-58px)]">
                    Sản phẩm
                </div>
                <div class="text-center w-[12.5%]">
                    Đơn giá
                </div>
                <div class="text-center  w-[12.5%]">
                    Số lượng
                </div>
                <div class="text-center  w-[12.5%]">
                    Số tiền
                </div>
                <div class="text-center  w-[12.5%]">
                    Thao tác
                </div>
            </div>
            <!-- Nội dung giỏ hàng -->
            <div class="cart-info md:shadow">
                @if (lsSanPham != null)
                {
                    foreach (var item in lsSanPham)
                    {
                        <div class="border-b md:px-[20px] border-[rgba(0,0,0,0.09)] md:py-[15px] pt-[15px]  text-[14px] min-h-[55px] items-center flex  bg-[#fff] flex-wrap">
                            <div class="min-w-[58px] flex items-center justify-center">
                                <input name="wannaBuy" class="w-[20px] h-[20px]" type="checkbox">
                            </div>
                            <div class="w-[calc(100%-58px)] lg:w-[calc(50%-58px)]">
                                <a href="" class="hover:cursor-pointer flex">
                                    <div class="aspect-square min-w-[80px] max-h-[80px] rounded-[3px] ">
                                        <img class="object-cover h-full" src="@item.HinhAnh"
                                     alt="@item.TenSp">
                                    </div>
                                    <div class="ml-3 flex justify-between px-2 lg:px-0 flex-col gap-y-[3px] ">
                                        <span class="lg:text-[14px] md:max-w-[250px] line-clamp-2">
                                            @item.TenSp
                                        </span>
                                        <span class="lg:text-[14px] ">
                                            Phân loại:
                                            <span class="lg:text-[14px] ">Đèn ngủ</span>
                                        </span>
                                        <div class="color-orange md:hidden font-semibold ">
                                            <span class="amount">@item.Gia</span>đ
                                            <!-- <input value="200000" type="number" class="amount"></input> -->
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="hidden text-center lg:flex items-center justify-center color-orange font-semibold w-[12.5%]">
                                <span class="rate">@item.Gia</span>đ
                                <!-- <input value="200000" type="number" class="amount"></input> -->
                            </div>

                            <div class="text-center lg:w-[12.5%] pl-[158px] pr-[30px]  md:px-[45px] flex justify-center text-[16px] my-[7px]">

                                <a class="hover:cursor-pointer flex minus-btn justify-center items-center border border-r-0 border-[rgba(0,0,0,0.09)] aspect-square w-[32px] h-[32px]">
                                    -
                                </a>
                                <input value=@item.TongSl class="num text-center w-[45px] border border-[rgba(0,0,0,0.09)]" type="number" min="1"
                               id="Quantity">
                                <a class="plus-btn hover:cursor-pointer flex justify-center items-center border-l-0 border border-[rgba(0,0,0,0.09)] aspect-square w-[32px] h-[32px]">
                                    +
                                </a>


                            </div>
                            <div class="hidden text-center lg:flex items-center justify-center color-orange font-semibold w-[12.5%]">
                                <span class="amount">@item.Gia</span>đ
                                <!-- <input value="200000" type="number" class="amount"></input> -->
                            </div>
                            <a href="" class="p-4 text-center  lg:w-[12.5%]">
                                Xóa
                            </a>
                        </div>

                    }
                }

            </div>


        </div>
        <div class="sticky bottom-0 bg-[#fff] border-dotted border-[rgba(0,0,0,.09)] lg:border  lg:py-2 lg:pr-6 lg:pl-[40px] pl-[10px] my-4 flex  items-center justify-between ">

            <!-- Thanh toán -->
            <div class="flex  text-[30px] gap-x-2 items-center">
                <input class=" aspect-square w-[20px] lg:w-[25px] rounded-[5px]" type="checkbox">
                <div class="hidden md:block text-[16px]">Chọn tất cả</div>
                <div class="lg:hidden block text-[16px]">Tất cả</div>
            </div>
            <div class="result-cart flex items-center ">
                <div class="flex text-[30px] gap-x-2 items-center">
                    <div class="text-[14px] lg:text-[16px]">Tổng thanh toán: </div>
                    <span class="text-[18px] lg:text-[24px] text-[#ee4d2d] font-semibold">
                        <span class="sum-cart">0</span>đ
                    </span>
                </div>

                <button class="ml-2 lg:ml-5 rounded-[2px] text-white border bg-[#ee4d2d] h-[56px]  px-[10px] lg:px-[20px]  text-white text-[15px] lg:text-[24px] font-semibold">
                    Mua hàng
                </button>

            </div>

        </div>
        <!-- Gợi ý sản phẩm -->
        <div class="md:mt-5">
            <div class="block md:pt-[20px]">
                <h1 class="font-semibold text-[20px] lg:text-[40px] text-[#518581]">Có thể bạn quan tâm</h1>
            </div>
            <div id="data-container"
                 class="lg:mt-[35px] mt-[20px] grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 md:gap-x-[25px] lg:gap-y-[45px] gap-x-3 gap-y-[15px]">
                <!-- Product 1 -->
                @if (lsSanPhamDeXuat != null)
                {
                    foreach (var item in lsSanPhamDeXuat)
                    {
                        string url = $"/ProductDetail/{item.MaSp}";
                        <a href="@url" class="hover:-translate-y-2 overflow-hidden rounded-[3px] shadow product-item bg-[#fff]">
                            <div class="h-full flex flex-col overflow-hidden">
                                <div class="aspect-square  rounded-[3px] ">
                                    <img class="object-cover h-full" src="@item.HinhAnh"
                                 alt="@item.TenSp">
                                </div>
                                <div class="flex-1 flex flex-col px-[12px] md:px-[17px] md:py-[20px] py-[14px]">
                                    <p class="flex-1 line-clamp-2 text-gray-700 md:text-[18px] text-[13px] ">
                                        @item.TenSp
                                    </p>
                                    <div class="flex justify-between items-center mt-3 price ">
                                        <span class="md:text-[24px] text-[16px] current-price font-semibold color-orange">
                                            @item.Gia.ToString("#,##0")<span class="md:text-[20px] text-[14px]">đ</span>
                                        </span>
                                        <span class="md:text-[18px] ml-[4px] text-[13px] old-price line-through text-slate-500">

                                        </span>
                                    </div>
                                    <div class="md:text-[18px] text-[14px] mt-2">
                                        Số lượng:
                                        <span class="md:text-[18px] text-[14px] font-medium ">@item.TongSl</span>
                                    </div>
                                    <!-- <div class="md:text-[18px] text-[14px] mt-1 current-price font-semibold color-orange">

                                                        Hết hàng

                                                    </div> -->
                                </div>
                            </div>
                        </a>
                    }
                }

            </div>
        </div>

    </div>
</body>
<script src="~/js/cart.js">

</script>