@model IEnumerable<Funiture_Project.Models.DanhMucSp>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenDm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDm)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaDm">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaDm">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaDm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
