@model IEnumerable<Funiture_Project.Models.KhachHang>
@inject Funiture_Project.Areas.Admin.Models.AdminSideBarService _AdminSideBarService;

@{
    ViewData["Title"] = "Quản lý Khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section Sidebar{
    @Html.Raw(_AdminSideBarService.renderHtml())
}
@{
    _AdminSideBarService.setActive("AdminCustomers", "Index", "Admin");
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-flex justify-content-between">
        <h1 class="h3 mb-2 text-gray-800">Danh mục khách hàng</h1>
    </div>

    <hr class="my-12" />

    <div class="mt-10"></div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable"
                       width="100%"
                       cellspacing="0">
                    @*Tieu de cot cho bang*@
                    <thead class="thead-dark">
                        <tr>
                            <th>Mã</th>
                            <th>Họ tên</th>
                            <th>Giới tính</th>
                            <th>Email</th>
                            <th>Sđt</th>
                            <th>Ngày tạo</th>
                            <th>Địa chỉ</th>
                            <th>Thành phố</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@item.MaKh</th>
                                    <td>@item.HoTen</td>
                                    <td>@item.GioiTinh</td>
                                    <td>@item.Email</td>
                                    <td>@item.Sdt</td>
                                    <td>@item.NgayTao</td>
                                    <td>@item.DiaChi</td>
                                    <td>@item.ThanhPho</td>

                                    <td class="d-flex justify-content-center">
                                        <a asp-action="Edit" asp-route-id="@item.MaKh">
                                            <img src="~/admin/img/bi_pencil-square.svg"
                                         alt="" />
                                        </a>
                                        <a asp-action="Delete" asp-route-id="@item.MaKh">
                                            <img src="~/admin/img/ep_delete-filled.svg"
                                         alt="" />
                                        </a>

                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>