@model Funiture_Project.Models.SanPham

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nsx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nsx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThuongHieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThuongHieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TongSl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongSl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChiTiet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChiTiet)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaSp" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
