@model Funiture_Project.Models.KhuyenMai

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>KhuyenMai</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenKm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenKm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayBd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayBd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayKt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayKt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhanTramKm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhanTramKm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DinhMuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DinhMuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToiDa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToiDa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaKm">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
